/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Lexend", sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

html {
  scroll-behavior: smooth;
}

body { margin: 0}

button {
  all: unset;
  border: 2px solid transparent;
  cursor: pointer;
  &:focus-visible {
    border: 2px solid black;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend", "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-block-end: 0.2em;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

p {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.125rem;
  font-weight: 300;
}

section {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding-inline: 4vw;
  padding-block: 8rem;
  justify-content: center;
}

.centeredText { text-align: center; }
.stretch { align-items: stretch; }

.ctaButton {
  background-color: rgba(255,165,0,1);
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  border-radius: 2rem;
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  transition: all 0.5s ease;
  &:hover {
    box-shadow: 0 8px 20px -6px rgba(0,0,0,0.2);
    background-color: rgba(255,183,51,1);
  }
}

.card {
  position: relative;
  width: 60ch;
  overflow-wrap: normal;
  padding: 2rem;
  margin: 1rem;
}

.horizontalFlex {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  top: 0;
  background-color: white;
  z-index: 1000;
  position: sticky;

}

.navLogo {
  width: 140px;
}

.swirlyLoopBG {
  display: block;
  background-image: url("/img/Swirly-loop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position-y: 64px;
}

.hero {
  height: 90dvh;
  justify-content: left;
  padding-bottom: 0;
}

.glass {
  background: linear-gradient(280.7deg, rgba(255, 255, 255, 0) -0.02%, rgba(255, 255, 255, 0.1) 94.6%), rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  box-shadow: 0 20px 40px -6px rgba(0,0,0,0.1);
  border-radius: 12px;
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.cardList {
  list-style-type: none;
  padding-block: 2rem;
  padding-inline: 1vw;
  font-size: 1.25rem;
}

.listCard {
  text-align: center;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border-radius: 12px;
  font-weight: 600;
  width: fit-content;
  margin-inline: auto;
}

.listConnector {
  height: 3rem;
  width: 2px;
  margin-inline: auto;
  border-left: 2px solid rgba(0,0,0,0.2);
}

.teamIcons {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.iconButton {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  &:hover {
    background-color: rgba(251, 139, 11, 0.16);
  }
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.profileImg {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  aspect-ratio: 1 / 1;
  border-top: 1px solid white;
  border-left: 1px solid white;
  box-shadow: 0 20px 40px -6px rgba(0,0,0,0.1);
}

.phone-wrapper {
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 40px;
  transition: all 0.5s ease;
}

.phone-wrapper.visible {
  max-width: 200px;
}

.phone-number {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: center;
  color: #333; /* Adjust color as needed */
}



#popoLogo {
  max-width: 200px;
}

#footerText {
  font-size: 1rem;
  text-align: center;
}
